body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    background-color: #343a40;
    color: white;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
}

.sidebar h2 {
    color: #f8f9fa;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #f8f9fa;
    text-decoration: none;
    font-weight: bold;
}

.sidebar ul li a:hover {
    color: #00796b;
}

.content {
    flex-grow: 1;
    margin-left: 250px;
    padding: 30px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: 100vh;
    overflow-y: auto;
}

.student-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.student-card h3 {
    margin: 0;
    padding-bottom: 10px;
}

.student-card-small {
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    margin-bottom: 15px;
}

.student-card-small h4 {
    margin: 0;
}

.expanded-card {
    display: none;
}

.payment-history {
    list-style-type: none;
    padding-left: 0;
}

.payment-history li {
    margin-bottom: 10px;
}

.payment-history img {
    width: 100px;
}

.btn-close {
    background-color: #f8d7da;
    color: #721c24;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}

.btn {
    margin-top: 1rem;
}

.alert {
    margin-top: 1rem;
    padding: 10px;
    border-radius: 5px;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-danger {
    background-color: #f8d7da;
    color: #721c24;
}

.search-bar {
    margin-bottom: 20px;
}

.search-bar input {
    padding: 5px;
    margin-right: 10px;
    width: 250px;
}

.search-bar button {
    padding: 5px 10px;
}
